:root {
  --site-primary-color: #152348;
  --site-secondary-color: #2B73B6;
  --transition: all ease .2s;
}
#main h1,
#main h2,
#main h3,
#main h4,
#main h5,
#main .ml-h2,
#main .bw-tagline-font1,
#bw-footer #bw-footer2 {
  color: var(--site-primary-color);
}
#navigation-wrapper .chromestyle ul li a {
  color: var(--site-primary-color);
}
#navigation-wrapper .dropmenudiv a:hover {
  color: var(--site-primary-color);
}
#main section.hero .left {
  background-color: var(--site-primary-color);
}
#header .header-button a {
  background-image: none !important;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--site-primary-color);
  border-radius: 8px 0 0 8px;
  width: 113px;
  height: 35px;
  padding: 0 10px;
  transition: var(--transition);
}
#header .header-button a:hover,
#header .header-button a:focus {
  background-color: var(--site-secondary-color);
}
#header #payment-button.dropper {
  background-image: none !important;
  background-color: transparent;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  display: inline-block;
  padding: 0 0;
  margin-top: 3px;
}
#header #payment-button.dropper .header-button {
  cursor: pointer;
  position: relative;
  background-color: var(--site-primary-color);
  border-radius: 8px 0 0 8px;
  width: 113px;
  height: 35px;
  padding: 0 10px;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0 0;
  transition: var(--transition);
}
#header #payment-button.dropper:hover .header-button {
  background-color: var(--site-secondary-color);
}
#header #payment-button.dropper .dropdown-content {
  box-shadow: none;
  background-color: transparent;
  min-width: 134px;
  z-index: 2;
  border-radius: 0 0 0 8px;
  overflow: hidden;
  margin-top: 0;
  padding-top: 12px;
}
#header #payment-button.dropper .dropdown-content a {
  padding: 10px 13px;
  background-color: var(--site-primary-color);
  transition: var(--transition);
}
#header #payment-button.dropper .dropdown-content a:first-child {
  border-top-left-radius: 8px;
}
#header #payment-button.dropper .dropdown-content a:hover {
  background-color: var(--site-secondary-color);
}
#bw-red-bar {
  height: 10px;
  background-image: none;
  background-color: var(--site-secondary-color);
  opacity: 0.75;
}
#read-more {
  background-image: none;
  width: unset;
  height: unset;
  display: inline-block;
}
#read-more a {
  background-color: var(--site-primary-color);
}
#read-more a,
#read-more a:hover {
  position: relative;
  background-image: none;
  transition: var(--transition);
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: unset;
  height: unset;
  padding: 7px 10px;
  text-decoration: none!important;
}
#read-more a:hover {
  background-color: var(--site-secondary-color)!important;
}
#read-more a:before {
  content:"read more";
  display: inline-block;
  color: #FFF;
  font-size: 13px;
  letter-spacing: 0.02em;
  margin-right: 13px;
}
#read-more a:after {
  content:"+";
  display: inline-block;
  color: #FFF;
  font-size: 13px;
  transform: scale(1.5);
}

div[id*="bw-services-box"],
div[id*="bw-services-box"] a {
  background-image: none!important;
  background-color: var(--site-primary-color);
  transition: var(--transition);
}
div[id*="bw-services-box"] {
  margin-right: 11px;
  margin-bottom: 11px;
}
div[id*="bw-services-box"] a,
div[id*="bw-services-box"] a:hover {
  box-sizing: border-box;
  width: 100%!important;
  height: 100%!important;
  padding: 15px!important;
  display: flex!important;
  flex-wrap: wrap;
  align-items: flex-end;
  padding: 10px;
}
div[id*="bw-services-box"] a:hover {
  background-color: var(--site-secondary-color);
}
div[id*="bw-services-box"] a {
  position: relative;
}
div[id*="bw-services-box"] a span {
  position: relative;
  z-index: 5;
}
div[id*="bw-services-box"] a:before {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 12px;
  right: 12px;
  background-size: contain;
  background-position: center;
  background-repeat: none;
  filter: brightness(0) invert(1);
}
div#bw-services-box1 a:before {
  background-image: url('../images/_icons/graph.svg');
}

