:root {
  --site-primary-color: #152348;
  --site-secondary-color: #2B73B6;
  --site-highlight-color: #315da7;
  --transition: all ease .2s;
}
a:hover {
  color: var(--site-highlight-color);
}
#main h1,
#main h2,
#main h3,
#main h4,
#main h5,
#bw-footer #bw-footer2 {
  color: var(--site-primary-color);
}
#main .ml-h2,
#main .bw-tagline-font1 {
  color: var(--site-highlight-color);
}
#navigation-wrapper #navigation {
  padding-right: 25px;
}
#navigation-wrapper .chromestyle ul li a {
  color: var(--site-primary-color);
}
#navigation-wrapper .dropmenudiv a:hover {
  color: var(--site-primary-color);
}
#main section.hero .left {
  background-color: var(--site-primary-color);
}
#header .header-button a {
  background-image: none !important;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--site-primary-color);
  border-radius: 8px 0 0 8px;
  width: 113px;
  height: 35px;
  padding: 0 10px;
  transition: var(--transition);
}
#header .header-button a:hover,
#header .header-button a:focus {
  background-color: var(--site-secondary-color);
}
#header #payment-button.dropper {
  background-image: none !important;
  background-color: transparent;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  display: inline-block;
  padding: 0 0;
  margin-top: 3px;
}
#header #payment-button.dropper .header-button {
  cursor: pointer;
  position: relative;
  background-color: var(--site-primary-color);
  border-radius: 8px 0 0 8px;
  width: 113px;
  height: 35px;
  padding: 0 10px;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0 0;
  transition: var(--transition);
}
#header #payment-button.dropper:hover .header-button {
  background-color: var(--site-secondary-color);
}
#header #payment-button.dropper .dropdown-content {
  box-shadow: none;
  background-color: transparent;
  min-width: 134px;
  z-index: 2;
  border-radius: 0 0 0 8px;
  overflow: hidden;
  margin-top: 0;
  padding-top: 12px;
}
#header #payment-button.dropper .dropdown-content a {
  padding: 10px 13px;
  background-color: var(--site-primary-color);
  transition: var(--transition);
}
#header #payment-button.dropper .dropdown-content a:first-child {
  border-top-left-radius: 8px;
}
#header #payment-button.dropper .dropdown-content a:hover {
  background-color: var(--site-secondary-color);
}
#bw-red-bar {
  height: 10px;
  background-image: none;
  background-color: var(--site-secondary-color);
  opacity: 0.75;
}
#read-more {
  background-image: none;
  width: unset;
  height: unset;
  display: inline-block;
}
#read-more a {
  background-color: var(--site-primary-color);
}
#read-more a,
#read-more a:hover {
  position: relative;
  background-image: none;
  transition: var(--transition);
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: unset;
  height: unset;
  padding: 7px 10px;
  text-decoration: none!important;
}
#read-more a:hover {
  background-color: var(--site-secondary-color)!important;
}
#read-more a:before {
  content:"read more";
  display: inline-block;
  color: #FFF;
  font-size: 13px;
  letter-spacing: 0.02em;
  margin-right: 13px;
}
#read-more a:after {
  content:"+";
  display: inline-block;
  color: #FFF;
  font-size: 13px;
  transform: scale(1.5);
}

.home div[id*="bw-services-box"],
.home div[id*="bw-services-box"] a {
  background-image: none!important;
  background-color: var(--site-primary-color);
  transition: var(--transition);
}
.home div[id*="bw-services-box"] {
  margin-right: 11px;
  margin-bottom: 11px;
}
.home div[id*="bw-services-box"] a,
.home div[id*="bw-services-box"] a:hover {
  box-sizing: border-box;
  width: 100%!important;
  height: 100%!important;
  padding: 15px!important;
  display: flex!important;
  flex-wrap: wrap;
  align-items: flex-end;
  padding: 10px;
}
.home div[id*="bw-services-box"] a:hover {
  background-color: var(--site-secondary-color);
}
.home div[id*="bw-services-box"] a {
  position: relative;
  color: #d5d5d5!important;
}
.home div[id*="bw-services-box"] a:hover {
  color: #FFF!important;
}
.home div[id*="bw-services-box"] a span {
  position: relative;
  z-index: 5;
}
.home div[id*="bw-services-box"] a:before {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(0) invert(1);
  opacity: 0.3;
}
.home div#bw-services-box1 a:before {
  background-image: url('_icons/graph.svg');
}
.home div#bw-services-box2 a:before {
  background-image: url('_icons/scales.svg');
}
.home div#bw-services-box3 a:before {
  background-image: url('_icons/stamp.svg');
  transform: rotate(45deg);
}
.home div#bw-services-box4 a:before {
  background-image: url('_icons/calculator.svg');
}
#bw-services-boxes:has([id*="services-services-box"]) {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
div[id*="services-services-box"],
div[id*="services-services-box"] a {
  background-image: none!important;
  background-color: var(--site-primary-color)!important;
  transition: var(--transition);
}
div[id*="services-services-box"] {
  margin-right: 0 !important;
  margin-bottom: 0 !important;
  width: 23.33% !important;
  padding: 0 0 !important;
}
div[id*="services-services-box"] a,
div[id*="services-services-box"] a:hover {
  box-sizing: border-box;
  width: 100%!important;
  height: 100%!important;
  padding: 15px!important;
  display: flex!important;
  flex-wrap: wrap;
  align-items: flex-end;
  padding: 10px;
}
div[id*="services-services-box"] a:hover {
  background-color: var(--site-secondary-color)!important;
}
div[id*="services-services-box"] a {
  position: relative;
  color: #d5d5d5!important;
}
div[id*="services-services-box"] a:hover {
  color: #FFF!important;
}
div[id*="services-services-box"] a span {
  position: relative;
  z-index: 5;
}
div[id*="services-services-box"] a:before {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 10px;
  right: 10px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(0) invert(1);
  opacity: 0.3;
}
div#services-services-box1 a:before {
  background-image: url('_icons/graph.svg');
}
div#services-services-box2 a:before {
  background-image: url('_icons/scales.svg');
}
div#services-services-box3 a:before {
  background-image: url('_icons/stamp.svg');
  transform: rotate(45deg);
}
div#services-services-box4 a:before {
  background-image: url('_icons/calculator.svg');
}



.gform_wrapper,
.gform_wrapper * {
  box-sizing: border-box;
}
.gform_wrapper input:not(.button),
.gform_wrapper select,
.gform_wrapper textarea {
  border: 1px solid #383838;
  padding: 5px;
}
.gform_legacy_markup_wrapper textarea {
  height: 120px;
}
.gform_wrapper input:not(.button),
.gform_wrapper select {
  height: 32px;
}
.gform_wrapper .gform_footer {
  margin-top: 0!important;
}
.gform_wrapper .gform_footer .gform_button.button {
  appearance: none;
  border: 1px solid var(--site-primary-color);
  padding: 10px 20px 9px;
  font-size: 16px;
  border-radius: 6px;
  background-color: var(--site-primary-color);
  color: #FFF;
  transition: var(--transition);
}
.gform_wrapper .gform_footer .gform_button.button:hover {
  border-color: var(--site-secondary-color);
  background-color: var(--site-secondary-color);
}
.gform_legacy_markup_wrapper ul.gform_fields li.gfield:has(input.medium) {
  width: 48%!important;
  float: left;
  clear: none;
}
.gform_legacy_markup_wrapper ul.gform_fields li.gfield--type-name,
.gform_legacy_markup_wrapper ul.gform_fields li.gfield.gfield--type-textarea {
  width: 100%!important;
}
.gform_legacy_markup_wrapper ul.gform_fields li.gfield {
  padding-right: 0!important;
}
.gform_legacy_markup_wrapper ul.gform_fields li.gfield:has(input.medium) input {
  width: 100%;
}
.gform_legacy_markup_wrapper ul.gform_fields {
  display: flex!important;
  flex-wrap: wrap;
  justify-content: space-between;
}



